{% extends "Monday/header.html" %}
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css"/>
    <script>
    // Main function controls Front End.
    (function () {
        var Message;
        Message = function (arg) {
            this.text = arg.text, this.message_side = arg.message_side;
            this.draw = function (_this) {
                return function () {
                    var $message;
                    $message = $($('.message_template').clone().html());
                    // Adds images to the message template.
                    if (_this.message_side === 'left' && _this.text.search("jpg") > 0 || _this.message_side === 'left' && _this.text.search("jpeg") > 0 || _this.message_side === 'left' && _this.text.search("png") > 0 || _this.message_side === 'left' && _this.text.search("gif") > 0) {
                        $message.addClass(_this.message_side).find('.text').html('<img style="max-width: 75%" class="inline" src=' + "'" + _this.text + "'" + '/>');
                    } else {
                        $message.addClass(_this.message_side).find('.text').html(_this.text);
                    }
                    $('.messages').append($message);
                    return setTimeout(function () {
                        return $message.addClass('appeared');
                    }, 0);
                };
            }(this);
            return this;
        };
        $(function () {
            var getMessageText, message_side, sendMessage;
            message_side = 'right';
            getMessageText = function () {
                var $message_input;
                $message_input = $('.message_input');
                 $('#actual_input').val($message_input.val());
                return $message_input.val();
            };
            sendMessage = function (text, isUser) {
                var $messages, message;
                if (text.trim() === '') {
                    return;
                }
                $('.message_input').val('');
                $messages = $('.messages');
                if (isUser) {
                    message_side = 'right';
                } else {
                    message_side = 'left';
                }
                message = new Message({
                    text: text,
                    message_side: message_side
                });

                message.draw();

                return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
            };
            $('.send_message').click(function (e) {
                return sendMessage(getMessageText(), true);
            });
            $('.message_input').keyup(function (e) {
                if (e.which === 13) {
                    // The Ajax request is triggered onclick, thus clicking enter will simulate the click as well.
                    $('.send_message').trigger('click');
                }
            });
            sendMessage("Hello, I'm Monday a Deep Learning chatbot developed by Afaq Anwar. I'm new to this, so don't be too harsh. :D", false);
            // Submits an Ajax request on submit.
            $(document).on('click', '.send_message', function (e) {
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'chat',
                    data: {
                        input: $('#actual_input').val()
                    },
                    success: function(data) {
                        sendMessage(data['response'], false);
                    }
                })
            });
        });
        }.call(this));
    </script>
{% endblock %}
{% block content %}
    <div class="chat_window"><div class="top_menu"><div class="buttons"><div class="button close"></div><div class="button minimize"></div><div class="button maximize"></div></div><div class="title">Monday</div></div><ul class="messages"></ul><div class="bottom_wrapper clearfix"><div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div><div class="send_message"><div class="icon"></div><div class="text">Send</div></div></div></div><div class="message_template"><li class="message"><div class="avatar"></div><div class="text_wrapper"><div class="text"></div></div></li></div>
    <!-- seperate form that is hidden, mimics the message form, just retains information for the ajax request. -->
    <input style="visibility: hidden"  id="actual_input" type="text"/>
{% endblock %}